.historyImgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    justify-content: space-around; 
    align-content: space-around; 
    justify-items: center; 
    align-items: center; 
  }
  
  .historyImg{
    width: 100px;
    height: 100px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .historyImgContainer{
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        gap: 0px;
        grid-auto-flow: column;
        grid-template-areas:
        ". ."
        ". ."
        ". "
        ". "
        ". ";
    }
}