.App {
  text-align: center;
}

link{
  text-decoration: none;
}

h3 {
  color: #474747;
}
p{
  color: #474747;
}

.App-header {
  background-color: #FFF;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.App-link {
  color: blue;
}

#link-button{
  margin-right: 15px;
  width: 80px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
}

.topnav{
  justify-self: end;
  align-self: center;
}

/* brand logo styling */
.brand *{
  text-decoration: none;  
}

.brand h1{
  color: orange;
  text-shadow: 3px 3px 4px #686868;
}

.page-title{
  font-size: 50px;
  color: #686868;
  margin-top: 10px;
}




.brand h5{
  color: blue;
}

.show{
  display: block;
}

.hidden{
  display: none;
}

.home-container{
  min-height: 1000px;
}


.home-content-container {
  background-color: rgba(216, 215, 215, 0.5);
  border-radius: 10px;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: space-around;
  justify-items: center;
  align-items: center;
}

.footer{
  background-color: rgba(216, 215, 215, 0.5);
  height: fit-content;
  margin-top: 30px;
  padding-top: 30px;
}

.footer-container-top {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 15px;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". .";
    line-height: 4px;
    
}

.footer-container-bottom {
  width: 80%;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "."; */
}

.home-thumbnail img{
  width: 300px;    
}

.charity-number p {
  margin-top: 0;
}
.copyright p {
  margin-bottom: 0;
}

.history-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  justify-content: space-around; 
  align-content: space-around; 
  justify-items: center; 
  align-items: center; 
}

.history-img{
  width: 100px;
  height: 100px;
}




@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header {
    grid-template-columns: 100%;
    grid-template-areas:
    "brand brand"
    "topnav topnav";
  }

  .home-content-container {
    padding-top: 30px;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-template-areas:
    "home-thumbnail home-thumbnail"
    "home-content home-content";
  }

  .home-thumbnail img{
    width: 85vw;
  }

  .topnav{
    justify-self: center;
  }

  .footer-container-top{
    grid-template-columns: 100%;
    grid-template-areas:
    "contact contact"
    "map map"
  }

  .map iframe{
    width: 100%;
    height: auto;
  }

  .history-img-container{
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 0px;
  grid-auto-flow: column;
  grid-template-areas:
    ". ."
    ". ."
    ". "
    ". "
    ". ";
  }
}



 @media only screen and (max-width: 425px) {
  .page-title{
    font-size: 30px;
    margin-top: 0px;
  }

  .react-parallax-bgimage{
    margin-top: 20px;
  }
}

/*
@media only screen and (max-width: 400px) {
  .bg-overlay{
    height: 92px !important;
  }
}
@media only screen and (max-width: 390px) {
  .bg-overlay{
    height: 88px !important;
  }
}
@media only screen and (max-width: 380px) {
  .bg-overlay{
    height: 85px !important;
  }
}
@media only screen and (max-width: 370px) {
  .bg-overlay{
    height: 83px !important;
  }
}
@media only screen and (max-width: 360px) {
  .bg-overlay{
    height: 80px !important;
  }
} */
