.App {
  text-align: center;
}

.pageTitle{
  font-size: 50px;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, p{
  color: #474747;
}

@media only screen and (max-width: 768px) {
  .pageTitle{
    font-size: 30px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 425px) {
  .pageTitle{
    font-size: 30px;
    margin-top: 0px;
  }
}



